body {
	background-image: url('shopped-lips.jpg');
	background-repeat: repeat;
	background-position: center;
	position: relative;
	animation: bgscroll 25s infinite linear;
}

.food {
	margin: 35% auto 0 auto;
	text-align: center;
	position: relative;
	width: 65%;
	height: auto;
}

.frenchFires {

}

.frenchFires img {
	animation: bounce2 1s alternate infinite;
	position: absolute;
	bottom: 10%;
	right: 25%;
}

.burger {

}

.burger img {
	animation: bounce2 0.75s alternate infinite;
	position: absolute;
	bottom: 15%;
	left: 25%;
}

.hands {
	position: relative;
	bottom: 50px;
}

.hands img {
	animation: hands 2s alternate infinite;
	float: right;
}

.hands:after {
	clear: both;
}

@keyframes bgscroll {
	from {background-position:0 100%;}
	to {background-position:0 0;}
}

@keyframes bounce {
  0% { transform: translateY(0); }
	100% { transform: translateY(-20px); }
}
@keyframes bounce2 {
  0% { transform: translateY(0); }
	100% { transform: translateY(-30px); }
}

@keyframes hands {
  0% { transform: translateX(0px); }
	100% { transform: translateX(-120px); }
}